.col-md-10 {
    max-height: 100vh !important;
    overflow-y: scroll;
}

.flex {
    height: auto;
    max-width: 45%;
    display: inline-flex;
    max-height: 840px;
}

.modal-footer {
    justify-content: center !important;
    overflow-x: scroll;
}

h6 {
    text-align: center;
}

h6,
p {
    white-space: nowrap;
    font-size: xx-small;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        max-width: 1440px !important;
    }
    h6,
    p {
        font-size: medium;
    }
}